<div id="gallery" class="gallery">
    <div class="container">
        <div class="masonry-gallery" id="masonryGallery">
            {% for image in gallery %}
                <div class="item">
                    <img src="{{ image.url }}" alt="{{ image.alt ?: image.title }}">
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="lightbox-overlay" id="lightboxOverlay" style="display: none;">
        <span class="lightbox-close" id="lightboxClose">
            <img src="{{ theme.link }}/assets/img/close.svg" alt="close">
        </span>
        <div class="lightbox-image">
            <img id="lightboxImage" alt="Gallery large view">
            <span id="lightboxCaption" class="lightbox-caption"></span>
        </div>
        <button class="lightbox-prev" id="lightboxPrev">
            <img src="{{ theme.link }}/assets/img/chevron-left.svg" alt="chevron-left">
        </button>
        <button class="lightbox-next" id="lightboxNext">
            <img src="{{ theme.link }}/assets/img/chevron-right.svg" alt="chevron-right">
        </button>
    </div>
</div>
